*{
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body{
    height: 100%;

}
/*Header*/

.memu-btn{
    color: aqua;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    top: 0%;
    align-items: center;
    position: sticky;
    z-index:999;
    background-color: aliceblue;
    box-shadow: 0 0 14px black;

}

.navbar .logo{
    width: 500px;
}
.navbar .memu li{
    list-style: none;
    display: inline-block;
}
.navbar .memu li a{
    display: block;
    margin-left: 20px;
    color:black;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.navbar .memu li .active{
    border-bottom: 2px solid rgb(30, 128, 0); 
}
.navbar .memu li a:hover{
    border-bottom: 2px solid rgb(30,128,0);
}
.content{
    background-image: url("img/photo-1483985988355-763728e1935b.avif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #424244;
    align-items: flex-start;
    height: 100vh;
}

.content h1{
    font-size: 25px;
}
.contact p{
    font-size:20px;
    margin-top:20px;
}
.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.Pheading{
    text-align: center;
    margin: 50px 0;
    color: chocolate;
}
.sec{
    padding: 10px 5%;
}
.products{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(320px,1fr));
}
.products .card{
    width: 310px;
    background: rgb(237, 222, 222);
    box-shadow: 0 10px 20px rcba(0,0,0,0.3) ;
    border-radius: 5px;
    padding: 5px;
    margin-bottom:20px;
}

.products .card img{
    height: 250px;
    width: 100%;
}
.products .card .desc
{
    padding: 5px 20px;
}
.products .card .tittle{
    font-weight: 90;
    font-size: 23px;
    color: rgb(14, 1, 1);
    padding: 0 10px;
}
.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.products .card .box .price{
    color: hsl(27, 9%, 24%);
    font-size: 20px;
    font-weight: bold;
}
.products .card .box .btn{
    font-size: 13px;
    color: red;
    padding: 10px 18px;
    border: 1px solid red;
    border-radius: 20px;


}


.products .card .box .btn:hover{
    cursor: pointer;
    background-color: crimson;
    color: white;

}
/*footer*/
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 20px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

